<!DOCTYPE html>
<html ng-app="demo">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>demo-8</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="../demo.css" rel="stylesheet">
</head>

<body ng-controller="demoCtrl">
    <select name="type" ng-model="formData.userNameTypeA.userNameType" ng-options="type for type in userNameTypeList"></select>&nbsp;
    <input type="text" ng-model="formData.userNameA" rule-tip="globalObj" rule-tip-preset="presetObj.name" rule-tip-only="nameOnlyObj" rule-tip-private="{items:formData.userNameTypeA}" rule-tip-index="0">
    <br>
    <select name="type" ng-model="formData.userNameTypeB.userNameType" ng-options="type for type in userNameTypeList"></select>&nbsp;
    <input type="text" ng-model="formData.userNameB" rule-tip="globalObj" rule-tip-preset="presetObj.name" rule-tip-only="nameOnlyObj" rule-tip-private="{items:formData.userNameTypeB}" rule-tip-index="1">
    <br>
    <select name="type" ng-model="formData.userNameTypeC.userNameType" ng-options="type for type in userNameTypeList"></select>&nbsp;
    <input type="text" ng-model="formData.userNameC" rule-tip="globalObj" rule-tip-preset="presetObj.name" rule-tip-only="nameOnlyObj" rule-tip-private="{items:formData.userNameTypeC}" rule-tip-index="2">
    <br>
    <p><span ng-if="globalObj.isError===undefined">No testing</span><span ng-if="globalObj.isError">Has error</span><span ng-if="globalObj.isError===false">No error</span></p>
</body>
<script src="../angular.js"></script>
<script src="../../ng-rule-tip.js"></script>
<script src="index.js"></script>

</html>
